:root {
    --transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /*primary-color: #bada55*/
}
body {
    padding: 25px;
    background-color: #0fc;
    font-family: sans-serif;
    /*  */
}

img {
    border-radius: 30%;
    width: 350px;
    /* Pour centrer un élément inline ou inlice-block : je mets un text-align: center;sur le parent de l'élément (img dans body -> le body est le parent de l'image */
    /* pour centrer un élément block: je lui mets  */
    /* pour centrer l'image qui est un inline-block: 1 je règle son dysplay pour en faire un block; 2 je lui mets des marges automarique de chaque côté */
    display: block;
    margin: auto;
    /* Border-width: 10px;
    border-color: red;
    border-style: solid; */
    border: 5px black solid;
}
h1 {
    text-align: center;
    font: inherit;
    font-size: 75px;
    font-family: "LifeCraft", sans-serif;
    -webkit-text-stroke: #000000 3px;
    padding: 15px;
    margin-bottom: 20px;
    background: #000000;
    background: linear-gradient(to bottom, #000000 30%, #00ff0d 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
    margin-top: 15px;
}
h2 {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 30px;
    font-family: "LifeCraft", sans-serif;
}

p {
    margin: 20px;
    margin-left: 20px;
    font-size: 15px;
    font-family: inherit, sans-serif;
    font-weight: bolder;
}
h3 {
    margin-top: 40 px;
    margin-left: 20px;
    font-size: 30px;
    font-family: "LifeCraft", sans-serif;
}
ul {
    margin: 20px;
    margin-left: 20px;
    font-size: 15px;
    font-family: inherit, sans-serif;
    font-weight: bolder;
}
nav {
    background-color: rgb(255, 0, 0);
    padding: 20px; /*utiliser le padding pour des page responsive sinon utliser le height*/
    position: fixed;
    inset: 0; /*équivalent de top:0;right:0;bottom:0;left:0;*/
    display: grid;
    align-content: center; /*aligne = vertical, justify = horizontal*/
    justify-content: center;
    gap: 25px; /* l'espace entre les elements*/
    text-align: center; /* centrer les mots ou les éléments sur la meme ligne*/
    transform: translateX(-100%);
    /* on a deplacer la nav de 100% de qsa largeur sur l'axe de X ce qui veut dire qu'on a deplacer la nav sur la gauche*/
    transition: var(--transition);
    /* on utulise la variable creer au debut du HTML pou appliquer les parametres enregistrés*/
}
.cross + nav {
    transform: none;
}

.burger {
    position: fixed;
    z-index: 1;
    display: grid;
    width: 40px;
    gap: 8px;
}
.burger > span {
    height: 4px;
    background-color: #000;
    border-radius: 2px;
}

.burger > span {
    transition: var(--transition);
    /* background-color: var(--primary-color); */
    /* transition = le temps de changement
    ease = acceleration
    utuliser cubic-beziers pour personalisation la vitesse l'animation
    DRY -> creer une variable fonction pour ne pas repeeter ou reecrire les memes codes
    avant le body on a creer des variable reutilisable dans le code*/
}
.burger.cross > :nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}
.burger.cross > :nth-child(2) {
    opacity: 0; /*transparance*/
    transform: scaleX(0.1); /*scale horizontal*/
}
.burger.cross > :nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

@media (min-width: 800px) {
    .burger {
        display: none;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 3fr 4fr;

        text-align: left;
        margin-top: 62px;
    }
    h1 {
        text-align: left;
    }
    img {
        margin: auto;
    }
    nav {
        padding: 20px;
        display: flex;
        bottom: auto;
        justify-content: end;
        transform: none;
    }
}

/* sauvegarde grid */

@media (min-width: 1024px) {
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
        display: grid;
        grid-template-columns: 4fr 8fr;
        margin-top: 62px;
    }
    h1 {
        text-align: left;
    }
    .content {
        display: grid;
        grid-template-columns: 4fr 4fr;
    }
    img {
        margin: auto;
    }
}
